<link href="~/Content/StyleWelcomeDashboard.css" rel="stylesheet" />

@using WebApp.Helpers;

@{
    Layout = "~/Views/Shared/DashboardDeliver.cshtml";
}


<div class="text-center">
    <h2>Bienvenido a ACME..</h2>
    <h3>¡Este es tu dashboard.. Desde aquí podrás utilizar todas las funciones</h3>
    <h3>que tenemos para ofrecerte!</h3>
</div>

