@using WebApp.Helpers;
<script src="~/Scripts/Views/vRetrieveStore.js"></script>
@{
    Layout = "~/Views/Shared/DashboardStore.cshtml";
}

@Html.CtrlTable(viewName: "vRetrieveStore", id: "tblStore", title: "Información tienda",
columnsTitle: "Nombre,Número Telefono, Balance",
ColumnsDataName: "Name,Phone,Earnings",
onSelectFunction: "BindFields")
<br />
<br />
<div class="row input-group ">
    <div class="col-lg-3 d-inline-block">
    </div>
    <div class="col-lg-3 justify-content-xl-center d-inline-block">
        @Html.CtrlButton(viewName: "vRetrieveStore", id: "btnModify", label: "Modificar Tienda", onClickFunction: "Modify")
    </div>
    <div class="col-lg-3 justify-content-xl-center d-inline-block">
        @Html.CtrlButton(viewName: "vRetrieveStore", id: "btnInventory", label: "Ver Inventario", onClickFunction: "Inventory", buttonType: "warning")
    </div>
    <div class="col-lg-3 d-inline-block">
    </div>
</div>