@using WebApp.Helpers;

<link href="~/Content/vCards.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/DashboardClient.cshtml";
}


<div class="text-center">

    <div id="aviso1"></div>
    <h3>¡Estos son los productos que tenemos para ofrecerte..!</h3>
    <br />
    <br />
</div>

<div class="containerCard" id="crds">

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7/dist/sweetalert2.all.min.js"></script>

<script src="~/Scripts/Views/vCards.js"></script>


