@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
}

#content {
    
    width: calc(100% - 300px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

#postContent {
    width: calc(100% - 100px);
    opacity: 0.8;
    padding-top: -200px;
    overflow-wrap: break-word;
    background-color: whitesmoke;
    padding: 40px;
    margin-top: 132px;
    margin-right: 45px;
    height: 240px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px grey;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#content.active {
    width: 100%;
}


.container body-content {
    width: 100%;
}