body {
    font-family: Roboto;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.containerCard {
    MARGIN-LEFT: -10%
}

.card {
    display: inline-block;
    border-style: none;
    height: 400px;
    width: 300px;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #ffffff00;
    margin-left: 15%;
}

select {
    font-size: 12px;
}

.our-team {
    border: 2px solid #80808052;
    border-radius: 5%;
    padding: 30px 0 30px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 250px;
}

    .our-team .picture {
        display: inline-block;
        height: 130px;
        width: 130px;
        margin-bottom: 70px;
        z-index: 1;
        position: relative;
        margin-left: 8px;
    }

        .our-team .picture::before {
            content: "";
            width: 100%;
            height: 0;
            border-radius: 50%;
            background-color: #56CC9D;
            position: absolute;
            bottom: 135%;
            right: 0;
            left: 0;
            opacity: 0.9;
            transform: scale(3);
            transition: all 0.3s linear 0s;
        }

    .our-team:hover .picture::before {
        height: 100%;
    }

    .our-team .picture::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #56CC9D;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .our-team .picture img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
    }

    .our-team:hover .picture img {
        box-shadow: 0 0 0 14px #56CC9D;
        transform: scale(0.7);
    }

    .our-team .title {
        margin-top: 18%;
        margin-left: -15%;
        display: block;
        font-family: 'Roboto', sans-serif;
        width: 200px;
        height: 400px;
    }

.social {
    width: -10%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

    .our-team .social li a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
    }

        .our-team .social li a:hover {
            color: #1369ce;
            background-color: #56CC9D;
        }

.team-content {
    width: 53%;
    margin-left: 23%;
    margin-top: -18%;
}

button {
    display: inline;
    font-size: 14px;
}

.btnAddCar {
    border-style: none;
    width: 59%;
    background: #f1c40f;
    color: #fff;
    margin-left: -23%;
    padding: 10px;
    border-radius: 5px;
}

.btnSetCar {
    border-style: none;
    width: 55%;
    background: #f1c40f;
    color: #fff;
    margin-left: 7%;
    padding: 10px;
    border-radius: 5px;
}

.aviso {
    margin-left: 17%;
    margin-top: -2%;
    width: 500px;
    height: 50px;
    background: #56CC9D;
    position: fixed;
    transition: 5s;
    z-index: 2;
}

.avisoD {
    width: 500px;
    height: 50px;
    background: #fff;
    position: fixed;
    margin-left: 17%;
    margin-top: -2%;
    opacity: -0.4;
    transition: 5s;
    z-index: 2;
}
